.products_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 44px;
}

.products_section {
  background-color: #ffff
}

.sorting {
  display: flex;
  align-items: center;
  margin: 81px 0 45px ;
}

.search_form {
  display: inline;
}

  .form_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
} 

 .search_form input {
  width: 103px;
  height: 42px ;
  border: 1px solid #000000;
  border-radius: 7px;
  margin: 0 10px;
  padding: 10px;
  background-color: #E5E5E5;
}

.sort_select { 
  width: 219px;
  height: 40px ;
  border: 1px solid #000000;
  border-radius: 7px;
  margin-left: 42px;
  padding: 10px;
  background-color: #E5E5E5;
  color: #797979;
  font-size: 16px; 
  font-weight: 500px;
}

::placeholder {
  font-size: 16px;
  font-weight: 500px;
  color: #ACACAC;
}

.search_form button {
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
  width: 103px;
  height: 42px ;
  background-color: transparent;
  cursor: pointer;
}

.search_form button:hover {
  color: white;
  background-color: #339933;
}

.label_discount {
  font-size: 20px;
  font-weight: 600;
  width: 191;
  margin: 0 40px;
}

input[type="checkbox"] {
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;   /* убираем стандартную стилизацию*/
  border: 1px solid #000000;
  border-radius: 7px;
  background-color: #E5E5E5;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  margin-right: 91px;
}

input[type="checkbox"]:checked::before {
  content: '\2713';
  font-size: 38px;
  color: #339933;
  position: absolute;
  top: -8px;
  left: 4px;
}

.checkbox {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .products_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .sorting {
    justify-content: center;
  }
}

@media screen and (max-width: 1090px) {
  .products_container {
    grid-template-columns: repeat(2, 1fr);
  }

  input[type="checkbox"] {
    width: 35px;
    height: 35px;
    margin-right: 45px;
  }
  .label_discount {
    font-size: 16px;
    margin: 0 5px;
  }

  input[type="checkbox"]:checked::before {
    top: -11px;
    left:1px
  }

  .products_section {
    padding: 30px 0 0 0; 
  } 

  .sorting {
    gap:20px;
  }

  .sort_select { 
    width: 120px;
    height: 40px ;

    padding: 10px;
    font-size: 16px; 
    font-weight: 500px;
  }
  
  .form_title {
    font-size: 16px;
  } 
  
  .search_form input {
    width: 80px;
    height: 40px;
    margin: -4px 6px;
  }
}

@media screen and (max-width: 760px) {
  .sorting {
    flex-direction: column;
  }
}

@media screen and (max-width: 690px) {
  .products_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .sorting {
    margin: 45px 0;
  }
  .products_section {
    padding: 5px 0 40px; 
  } 
}
