.categories_container {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    gap: 32px;  
    max-width:1440px;
}

.categories_block {
    background-color: #ffff;
    padding: 40px 0 112px;
}

.categories_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 40px;
}

.categories_info {
    display: flex;
}

.categories_btn {
    margin: 14px 0 0 96px;
    border: 2px solid #8B8B8B;
    width: 120px;
    height: 31px;
    padding: 7px 11px;
    color: #8B8B8B;
    cursor: pointer;
}

@media screen and (max-width: 1400px) { 
    .categories_container { 
        grid-template-columns: repeat(3,1fr);
        place-items: center;
        column-gap: 5px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 1040px) { 
    .categories_container { 
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 680px) { 
    .categories_container { 
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width: 460px) { 
    .categories_info {
        justify-content: space-between;
    }

    .categories_btn {
        margin: 8px 0 10px 0;
    }

    .categories_container { 
        grid-template-columns: 320px;
        justify-content: center; 
        align-items: center; 
    }

    .categories_title {
        font-size: 30px;
    }
}

