.categories_container {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    gap: 32px;
    
}

.categories_block {
    background-color: #E5E5E5;
    padding: 40px 0 112px;
}

.categories_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 40px;
}

.categories_info {
    display: flex;
    padding: 20px;
}

.categories_btn {
    margin: 14px 0 0 26px;
    border: 2px solid #8B8B8B;
    width: 120px;
    height: 31px;
    padding: 7px 11px;
    color: #8B8B8B;
    cursor: pointer;
}