.products_section {
    background-color: #E5E5E5;
}

.products_container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 44px;
}

.products_title {
    margin-bottom: 30px;
}


@media screen and (max-width: 480px) {
    .products_container {
        grid-template-columns: 320px;
        justify-content: center; 
        align-items: center; 
    }
}