.cart_page {
    min-height: 390px;
    background-color: #E5E5E5;
}

.cart_nav {
    max-width: 824px;
    display: flex;
    justify-content: space-between;
    margin: 16px 0 35px;
}

.cart_container {
    border-top: 1px solid #A7A7A7;
}

.cart_nav > p {
    font-size: 16px;
    font-weight: 500;
}

.cart_nav_btn {
    display: flex;
    gap: 21px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.btn_back {
    font-size: 10px;
    font-weight: 300;
    color: #A7A7A7;
    margin-top: 9px;
}

.cart_content {
    display: flex;
    gap: 60px;
}

.cart {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.cart_empty {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin: 107px;
}

.cart_icon {
    font-size: 300px;
    font-weight: 100;
    color: #339933;
}

.cart_empty p {
    font-size: 20px;
    font-weight: 500;
}

.form_block {
    border: 2px solid black;
    width: 496px;
    height: 520px;
    border-radius: 21px;
    padding: 25px;
}

.cart_form_input {
    width: 446px;
    height: 73px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 25px;
    font-weight: 500;
    font-size: 18px;
    color: #929292;
    outline: none;
}

.errors_message {
    color: #e84e4e;
    margin-left: 15px; 
}

.cart_form_btn {
    background-color:#339933;
    width: 446px;
    height: 76px;
    border-radius: 17px;
    border: none;
    padding: 20px, 185px, 20px, 143px;
    font-weight: 700;
    font-size: 28px;
    color: white;
    margin: 0 auto;
    margin-top: 25px;
    cursor: pointer;
}

.clear_btn {
    background-color:white;
    width: 446px;
    height: 76px;
    border-radius: 17px;
    border: none;
    padding: 20px, 185px, 20px, 143px;
    font-weight: 700;
    font-size: 28px;
    color: #339933;
    margin: 0 auto;
    margin-top: 25px;
    cursor: pointer;
}

.form_title {
    margin-bottom: 42px;
    font-weight: 600;
    font-size: 28px;
}

.total_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
}

.total_title {
    font-weight: 500;
    font-size: 24px;
}

.total_price {
    font-weight: 600;
    font-size: 32px;
}

.success_message {
    border: 2px solid #339933;
    border-radius: 15px;
    padding: 100px 0;
    width: 875px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
}


.success_message > p {
    margin: 20px 0 30px;
}

.success_message button {
    background-color:#F1FFF1;
    border: 1px solid #339933;
    border-radius: 15px;
    padding: 20px 40px;
}


@media screen and (max-width: 1390px) {
    .form_block {
        width: 350px;
        height: 485px;
    }

    .cart_form_input {
        width: 295px;
        height: 62px;
    }
    .cart_form_btn,
    .clear_btn {
        width: 297px;
        height: 65px;
        font-size: 25px;
    }
    
}

@media screen and (max-width: 1230px) {
    .cart_content {
        gap: 30px;
    }
}

@media screen and (max-width: 1090px) {
    .cart_content {
        display: block;
    }

    .form_block {
        margin: 35px auto 0;
    }
}

@media screen and (max-width: 1080px) {
    .success_message {
        max-width: 760px;
        padding: 76px 0;
    }
}

@media screen and (max-width: 900px) {
    .success_message {
        max-width: 550px;
        padding: 50px 0;
    }
}


@media screen and (max-width: 650px) {
    .success_message {
        max-width: 470px;
        padding: 30px 0;
    }
}



@media screen and (max-width: 480px) {
    .cart_content {
        display: block;
    }

    .cart_nav {
        flex-direction: column;
        gap:10px;
    }

    .form_block {
        width: 300px;
        height: 410px;
    }

    .cart_form_input,
    .cart_form_btn,
    .clear_btn {
        width: 248px;
        height: 45px;
    }
    
    .cart_form_input{
        padding: 20px;
    }
    .success_message {
        width: 400px;
        padding: 15px ;
    }

    .total_block {
        margin-bottom: 30px;
    }
    .cart_icon {
        font-size: 250px;
    }
    .cart_empty {
        text-align: center;
    }
}


@media screen and (max-width: 420px) {
    .success_message {
        max-width: 275px;
        padding: 24px 0;
    }
}
