.sale_block {
    background-color: #E5E5E5;
}

.products_container {
    display: flex;
    gap: 44px;
    padding: 21px 0 150px;
}

.sale_title {
    padding-top: 49px;
}

@media screen and (max-width: 1040px) {
    .products_container {
        flex-wrap:wrap;
        justify-content: center;
        gap: 44px;
    } 
}

@media screen and (max-width: 480px) {
    .products_container { 
        flex-direction: column;
        align-items: center;
    }
}