.footer {
    background-color: #ffff;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
}

.phone {
    font-weight: 600;
    font-size: 60px;
    line-height: 130%;
    margin: 25px 0 32px;
    cursor: pointer;
}

.social_icons {
    width:100px;
    display: flex;
    justify-content: space-between;
}

.insta_icon ,
.whatsApp_icon {
    width: 44px;
    height: 44px;
    cursor: pointer;
    color: black;
}

.address {
    font-weight: 600;
    font-size: 35px;
    line-height: 130%;
    margin-top: 25px;
    width: 465px;
    text-decoration: underline;
}

.subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    margin-top: 20px;
}

.accent {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}

.accent_city {
    display: block;
    font-weight: 600;
    font-size: 35px;
}

@media screen and (max-width: 1250px) {
    .phone {
        font-size: 50px;
    }
}

@media screen and (max-width: 1080px) {
    .phone {
        font-size: 40px;
    }
    .address {
        font-size: 30px;
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        min-height: 150px;
        background-color: transparent;
    }
    
    .footer_container {
        flex-direction: column;
        align-items: center;
    }

    .contacts_block {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .address_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    
    .phone {
        font-size: 31px;
        font-weight: 600;
    }

    .insta_icon ,
    .whatsApp_icon {
        width: 31px;
        height: 31px;
    }
    .address {
    font-size: 27px;
    text-align: center;
    }
}

@media screen and (max-width: 460px) {
    .address {
        width: 350px;
    }
}