.nav_menu {
    display: flex;
    justify-content: space-between;
    gap:58px;
    padding-top: 44px;
}

.nav_menu a{
    font-weight: 600;
    font-size: 17px;
    line-height: 130%;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav_menu a:hover{
    color: #339933;
   
}

.cart_icon {
    width: 26.55px;
    height: 29.4px;
} 

